# Dependency directories
node_modules/

# Build outputs
dist/
dist-electron/
release/
build/
.next/
out/

# SQLite databases
*.db
*.sqlite
*.sqlite3
*.zip

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
.eslintcache

# OS Files
.DS_Store
Thumbs.db
